[submodule "theme/portfolio"]
	path = theme/portfolio
	url = git@github.com:gurusabarish/hugo-profile.git
[submodule "themes/charlolamode"]
	path = themes/charlolamode
	url = https://github.com/charlola/hugo-theme-charlolamode.git
